* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    width: 100%;
}

header {
    height: 8%;
    background-color: black;
}

nav {
    // border: 1px solid blue;
    height: 10%;
    background-color: rgb(72, 120, 192);
    
    ul {
        height: 100%;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: 1fr;
        list-style-type: none;
        
        li {
            color: white;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        li.focused {
            background-color: white;
            color: rgb(72, 120, 192);
            border-bottom: 2px solid rgb(72, 120, 192);

            .icon {
                fill: rgb(72, 120, 192);
            }
        }

        svg {
            height: 36px;
            width: 36px;
        }

        .icon {
            fill: white;
        }
    }
}

main {
    height: 82%;
}